*

# >-----< INCLUDES >-----< #

# [+]: Install stage
!requirements.txt

# [+]: Build stage
!ETL.py

# [+]: Test stage

# [+]: Run stage

# >-----< EXCLUDES >-----< #

# [-]: MacOS files
.DS_Store
**/.DS_Store
